
{% extends 'base.html' %}
{% block body %}

    <div class="container">


        <h1>Details: </h1>
        <p>Welcome to the home page of this app.</p>
        <p>This website is a simple ToDo app wherein
             you can add, delete or update your day-to-day activities with the time you added your work on the list. This is
              the least version of this application which can be taken upto a greater heights and can be used as a personal 
              task notifier by adding various parameters to it. 
        <h1>Overview:</h1>
        In todays busy life most of the people fail to remember their work which they plan to execute either they write notes
        or they set an alarm, but what if you have a web app wherein you can store all your important things that needed to be 
        completed ?. Well then, this Application is there to help you out. <p>
       
        
        </p>
        <h1>Application</h1>
        <ul>
            <li>Record Tasks</li>
            <li>Quick Entry</li>
            <li>Easy access</li>
            <li>Keep track on daily activities</li>
            
        </ul>


        <h2>Creator :</h2>
        <p>Abhishek Saste</p><br>



    {% endblock body %}